// Main layout styles go here

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

.header-wrapper {
	max-width: 984px;
	margin: 0 auto;
	overflow: hidden;
}

header {
	background: #ffffff;
	margin: 0;
	padding: $padding/2 $padding;
	border-bottom: 1px solid #ebebeb;
}

.login-form {
	float: left;
	display: block;
	width: auto;
	padding: 13px 0 0 0;
}

/* Group Home */

.masthead {
	max-width: 1024px;
	position: relative;
	color: #ffffff;
	font-weight: 300;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	padding: 30px $padding;
}

.masthead-content-wrapper {
	margin: 0 auto;
	max-width: 720px;
}

.group-info {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.group-logo {
	position: relative;
	width: 100px;
	margin: 0 0 10px 0;
}

.signup-form {
	width: 100%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.7);
}

/* Single Events */
.single-masthead {
	max-width: 1024px;
	position: relative;
	color: #ffffff;
	font-weight: 300;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto 20px auto;
	padding: $padding $padding 10px $padding;
	overflow: hidden;
}

.event-masthead-wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.single-group-logo {
	float: left;
	display: inline-block;
	width: 50%;
	margin: 0 0 20px 0;
	text-align: center;
	box-sizing: border-box;
}

.meetup-title-and-tagline {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}

/* Back to Universal Styles */

article {
	padding: 0 $padding;
	margin: 0 auto;
}

footer {
	background: #ffffff;
	margin: 0;
	padding: 20px;
	border-top: 1px solid #ebebeb;
}

.footer-wrapper {
	max-width: 984px;
	margin: 0 auto;
	overflow: hidden;
}

.footer-left {
	margin: 0 0 10px 0;
}