// Main layout styles go here

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

.header-wrapper {
	max-width: 984px;
	margin: 0 auto;
}

header {
	background: #ffffff;
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #ebebeb;
}

.masthead {
	max-width: 1024px;
	position: relative;
	color: #ffffff;
	font-weight: 300;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	padding: $padding;
}

.group-info {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.group-logo {
	width: 100px;
	margin: 0 0 10px 0;
}

.signup-form {
	width: 100%;
}

article {
	padding: 0 $padding;
	margin: 0 auto;
}

footer {
	background: #ffffff;
	margin: 0;
	padding: 20px;
	border-top: 1px solid #ebebeb;
}

.footer-wrapper {
	max-width: 984px;
	margin: 0 auto;
	overflow: hidden;
}

.footer-left {
	margin: 0 0 10px 0;
}