body {
  color: rgb(80,80,80);
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  font-style: normal;
  font-size:100%;
  line-height:1.6;
}

b, strong {
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3 {
  max-width: 560px;
  line-height: 1.1;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-style: normal;
}

p, blockquote {
  max-width: 640px;
  margin: 0 0 $padding 0;
}

h1 {
  font-size: 20px;
}

h1.group-logo-header {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

.chunky-h2 {
  max-width: 100%;
  background: #EBEBEB;
  padding: 10px 20px;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

p {
  font-size: 16px;
}

.signup {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: middle;
}

.or {
  font-family: "minion-pro", "Georgia", serif;
  font-style: italic;
}

.subscribe {
  line-height: 1.1;
  margin: 0 0 5px 0;
}

.follow-link {
  color: #ffffff;
  margin: 0;
}

.call-out {
  max-width: 1024px;
  background: #EBEBEB;
  padding: $padding;
  text-align: center;
  font-size: 16px;
}

.time {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 5px 0;
  line-height: 1.2;
}

.rsvp-text {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  margin: -5px 0 0 0;
}

.rsvp-count {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.attended-text {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  margin: 25px auto;
}

.attendee-name {
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
  margin: 0 0 10px 0;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-left: 25px;
  font-size: 26px;
  border-left:2px solid $primary-color;
}

pre{
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin:0 0 $padding/2;
  padding:10px;
  background:#f5f5f5;
  border:1px solid rgba(0,0,0,.1);
  @include border-radius(5px);
  display:block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}

footer p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}