</div><!-- wrapper -->

<footer>
	<div class="footer-wrapper">
		<div class="footer-left">
			<a href="http://caravan.io" title="caravan.io"><img style="vertical-align: middle;" src="/img/join-caravan-button.png" width="128" /></a>
			<p>Need outstanding event management?<br>
				<a href="http://www.vancocoa.com" title="VanCocoa.com">VanCocoa</a> &amp; <a href="http://www.vanjs.com" title="VanJS.com">VanJS</a> are already on board.</p>
		</div><!-- left -->
		<div class="footer-right">
			<p><img class="valign" src="/img/caravan-footer.png" width="63" /> is a <a href="http://www.steamclock.com" title="steamclock.com">Steamclock</a> product.<br><a href="mailto:contact@steamclock.com" title="steamclock.com">Contact us</a>.</p>
		</div><!-- right -->
	</div>
</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
	<script src="/js/main.js"></script>

</body>
</html>