<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<script type="text/javascript" src="//use.typekit.net/gzy2cwb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VanCocoa – iOS and Mac developer meetup in Vancouver</title>
	<meta name="description" content="VanCocoa brings together Vancouver’s iOS and Mac designers and developers for talks about making great apps.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/ico/favicon.png">

	<link rel="stylesheet" href="/css/main.css">
	
	<!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>

<style>

a  {
	color: #5A7EBF;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background: #5A7EBF;
	border-color: #5A7EBF;
}

.hexagon, .hexagon:before, .hexagon:after {
    background: #5A7EBF;
}

</style>

<body>

	<div class="wrapper">